.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #fff;
  /*stroke: #000;*/
  /*stroke-width: 1.5px;*/
}

.node.fixed {
  fill: #f00;
}

.node text {
  pointer-events: none;
  fill: #000;
  font: 12px sans-serif;
}

#device-map {
  text-align: center;
}



html{
  background: #497dd0;
}
.wrapper {
  margin: 100px 0;
}
.toggle_radio_2{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 220px;
}
.toggle_radio_2 > * {
  float: left;
}
.toggle_radio_2 input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio_2 label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 2;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider_2{
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

.first_toggle_2:checked ~ .toggle_option_slider_2{
  background: rgba(255,255,255,.3);
  left: 3px;
}
.second_toggle_2:checked ~ .toggle_option_slider_2{
  background: rgba(255,255,255,.3);
  left: 109px;
}


.toggle_radio_4{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 450px;
}
.toggle_radio_4 > * {
  float: left;
}
.toggle_radio_4 input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio_4 label{
  font: 90%/1.618 "Source Sans Pro";
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 2;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider_4{
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

.first_toggle_4:checked ~ .toggle_option_slider_4{
  background: rgba(255,255,255,.3);
  left: 3px;
}
.second_toggle_4:checked ~ .toggle_option_slider_4{
  background: rgba(255,255,255,.3);
  left: 109px;
}
.third_toggle_4:checked ~ .toggle_option_slider_4{
  background: rgba(255,255,255,.3);
  left: 215px;
}
.fourth_toggle_4:checked ~ .toggle_option_slider_4{
  background: rgba(255,255,255,.3);
  left: 321px;
}